* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Este degradado crea una sensación de profundidad púrpura */
    background-image: URL"P.jpeg";
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-full {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    position: relative;
    z-index: 1;
    
    /* Suavizamos los bordes del video para que se mezclen con el fondo */
    mask-image: radial-gradient(circle, black 70%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
}
