* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Tu color púrpura oscuro exacto */
    background-color: #0F030F; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-full {
    width: 100%;
    height: 100%;
    /* "contain" para que se vea todo el video sin recortes */
    /* "cover" si prefieres que llene toda la pantalla del móvil */
    object-fit: contain; 
    
    /* Animación para que aparezca suavemente al cargar */
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
