/* Quitamos márgenes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Tu color púrpura profundo */
    background-color: #0F030F; 
    
    /* Centramos el contenido en la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* La altura será el 100% de la ventana visible */
    min-height: 100vh; 
}

/* Contenedor que limita el espacio del video */
.contenedor-video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; /* Pequeño margen para que no pegue a los bordes en PC */
}

/* Estilos responsivos para el video */
video {
    width: 100%;
    max-width: 600px; /* Ajusta según el tamaño de tu video */
    height: auto;
    object-fit: contain;
    background-color: #0F030F; /* Fondo igual al body por si tarda */
    
    /* Animación de entrada suave */
    animation: aparecer 0.5s ease-in;
}

@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
}
